body {
    background: #ffffff;        
    margin: 0;                 
}

.header-area {
    background-color: #000080; 
    color: #ffffff;         
    text-align: center;        
    padding: 40px;            
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 30px;
    color: #000080;
}
